.statDisplay {
    display: flex;
    height: 2rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    min-width: 15rem;
    flex-grow: 1;
}

.statDisplay button {
    min-width: 2rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0;
    background: none;
    background-color: lightgray;
}

.statDisplay .valueDiv {
    background-color: gray;
    min-width: 2rem;
    text-align: center;
    color: black;
    border-radius: 0.5rem;
    padding: 0.1rem;
    margin-right: 0.2rem;
}

.statDisplay .nameDiv{
    margin-left: 0.2rem;
    padding: 0.1rem;
    min-width: 3rem;
    flex-grow: 1;
}